extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
  .well.span7.offset2  
    h1 Inicio de sesión correcto 
    hr
    h4 Bienvenido a la aplicación #{username} 
    a.btn.btn-danger(href="logout") Cerrar Sesión